// Цвета
$base-color: #000000;
$auxiliary-gray: #cbcac3;
$strong-yellow-selection: #d89808;
$middle-yellow-selection: #fce7b6;
$small-yellow-selection: #fef7e7;
$strong-gray-selection: #dbdbd6;
$small-gray-selection: #e7e7e4;
$title-color: #420a0a;
$delete-color: #dc143c;
$read-book-color: #831616;
$white: #ffffff;


// Шрифты
$base-text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$alternative-text-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// Длины блоков
$books-searching-width: 380px;


